body {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: bisque;
}

.purchased {
    text-decoration: line-through;
    background-color: #d4ffd4;
  }